* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    min-height: 100%;
    background: url("./assets/bg.png") no-repeat center/cover;
    
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 500px;
    width: 90%;
    margin: auto;

    padding-block: 20px;
}

body #background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
}

header {
    text-align: center;
    gap: 15px;

    color: #D0EEFF;
}

header > #logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

header h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

header p {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
}

main {
    gap: 40px;
    text-align: center;
}

main a {
    max-width: 500px;
    width: 80%;

    font-weight: bold;
    color: #000525;

    padding: 22px 0;
    border-radius: 15px;

    background-color: #A7D9F7;
    transition: background-color .5s;
}

main a:hover {
    background-color: #a7d8f7c5;
    box-shadow: 0 2px 4px 0 #000;
}

footer {
    text-align: center;
    color: #D0EEFF;
    font-weight: lighter;

    margin-top: 100px;
}

footer a {
    font-weight: bold;
    color: #D0EEFF;

    transition: color .6s;
}

footer a:hover {
    text-decoration: underline;
    color: #77a2bd;
}